[Unit]
Description=code server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=dev
ExecStart=code-server

[Install]
WantedBy=multi-user.target
