[global_config]
  title_transmit_fg_color = "#000000"
  title_transmit_bg_color = "#fce94f"
  title_use_system_font = False
  title_font = mononoki Nerd Font 16
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Cousine for Powerline 16
    use_custom_command = True
    custom_command = ./start-tmux.sh
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      size = 2000, 1600
      position = 300:300
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
