---
# Cloud instance setup playbook
# For OCI and other cloud providers

- name: Prepare Cloud Development Environment
  hosts: cloud
  become: yes
  
  vars:
    install_desktop: false
    install_docker: true
    install_golang: true
    install_python: true
    install_kotlin: true
    install_jvm: true
    install_dotnet: true
    configure_firewall: true
  
  pre_tasks:
    - name: Configure firewall for cloud (if enabled)
      block:
        - name: Set iptables to ACCEPT all
          iptables:
            chain: "{{ item }}"
            policy: ACCEPT
          loop:
            - INPUT
            - OUTPUT
            - FORWARD
        
        - name: Flush iptables rules
          iptables:
            flush: yes
      when: configure_firewall | default(false)
  
  roles:
    - role: ../roles/base
    - role: ../roles/docker
    - role: ../roles/golang
    - role: ../roles/python
    - role: ../roles/kotlin
    - role: ../roles/dotnet
    - role: ../roles/terminal-tools
    - role: ../roles/shell-config
    - role: ../roles/users
