---
# Desktop workstation setup playbook
# Installs all development tools plus desktop components

- name: Prepare Desktop Development Environment
  hosts: desktops
  become: yes
  
  vars:
    install_desktop: true
    install_docker: true
    install_golang: true
    install_python: true
    install_kotlin: true
    install_jvm: true
    install_dotnet: true
  
  roles:
    - role: ../roles/base
    - role: ../roles/docker
    - role: ../roles/golang
    - role: ../roles/python
    - role: ../roles/kotlin
    - role: ../roles/dotnet
    - role: ../roles/terminal-tools
    - role: ../roles/shell-config
    - role: ../roles/desktop
    - role: ../roles/users
